.container
  .form-signin
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = devise_error_messages!
      %h2.form-signin-heading Please sign in
      = f.label :email, class: "sr-only", for: "inputEmail"
      = f.email_field :email, id: "inputEmail", class: "form-control", autofocus: true, placeholder: "Email address", required: ""
      = f.label :password, class: "sr-only", for: "inputPassword"
      = f.password_field :password, id: "inputPassword", class: "form-control", placeholder: "Password", required: ""
      - if devise_mapping.rememberable?
        .checkbox
          = f.check_box :remember_me
          = f.label :remember_me
      = f.submit "Sign in", class: 'btn btn-primary btn-block'
  .text-center
    %p
      Not a member?
      = link_to "Sign up now", new_user_registration_path
